language: php

sudo: false

cache:
    directories:
        - $HOME/.composer/cache/files

php:
    - 7.0
    - 7.1
    - 7.2
    - 7.3

env:
    - SUITE="curl" PACKAGE="php-http/curl-client:dev-master zendframework/zend-diactoros"
    - SUITE="Socket" PACKAGE="php-http/socket-client:dev-master php-http/client-common"
    - SUITE="Guzzle6" PACKAGE="php-http/guzzle6-adapter:dev-master"
    - SUITE="React" PACKAGE="php-http/react-adapter:dev-master"
    - SUITE="Buzz" PACKAGE="php-http/buzz-adapter:dev-master"
    - SUITE="CakePHP" PACKAGE="php-http/cakephp-adapter:dev-master"
    - SUITE="Zend" PACKAGE="php-http/zend-adapter:dev-master"
    - SUITE="Artax" PACKAGE="php-http/artax-adapter:dev-master"

matrix:
    include:
        - php: 5.5
          env: SUITE="Guzzle5" PACKAGE="php-http/guzzle5-adapter:dev-master"
    allow_failures:
        - env: SUITE="Socket" PACKAGE="php-http/socket-client:dev-master php-http/client-common"

branches:
    except:
        - /^analysis-.*$/

before_install:
    - phpenv config-rm xdebug.ini

install:
    - composer require ${PACKAGE} --no-update
    - travis_retry composer update --prefer-source --no-interaction

before_script:
    - bin/http_test_server > /dev/null 2>&1 &

script:
    - ./vendor/bin/phpunit --testsuite ${SUITE}

