<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="curl">
            <directory>vendor/php-http/curl-client/tests</directory>
        </testsuite>
        <testsuite name="Socket">
            <directory>vendor/php-http/socket-client/tests</directory>
        </testsuite>
        <testsuite name="Guzzle5">
            <directory>vendor/php-http/guzzle5-adapter/tests</directory>
        </testsuite>
        <testsuite name="Guzzle6">
            <directory>vendor/php-http/guzzle6-adapter/tests</directory>
        </testsuite>
        <testsuite name="Buzz">
            <directory>vendor/php-http/buzz-adapter/tests</directory>
        </testsuite>
        <testsuite name="React">
            <directory>vendor/php-http/react-adapter/tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <server name="TEST_SERVER" value="http://127.0.0.1:10000/server.php" />
    </php>
</phpunit>
