name: CI

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    continue-on-error: true
    strategy:
      max-parallel: 10
      matrix:
        batch:
          - { suite: "curl",    php: '7.4', package: "php-http/curl-client:dev-master zendframework/zend-diactoros" }
          - { suite: "Socket",  php: '7.4', package: "php-http/socket-client:dev-master php-http/client-common" }
          - { suite: "Guzzle5", php: '7.1', package: "php-http/guzzle5-adapter:dev-master" }
          - { suite: "Guzzle6", php: '7.4', package: "php-http/guzzle6-adapter:dev-master" }
          - { suite: "Guzzle",  php: '7.4', package: "guzzlehttp/guzzle:dev-master" }
          - { suite: "Guzzle",  php: '7.4', package: "guzzlehttp/guzzle:dev-master phpunit/phpunit:^8.5.8" }
          - { suite: "Buzz",    php: '7.4', package: "kriswallsmith/buzz:dev-master" }

    steps:
      - name: Set up PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.batch.php }}
          coverage: none
          tools: composer:v2

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Download dependencies
        run: |
          composer require ${{ matrix.batch.package }} --no-update
          composer update --prefer-source --no-interaction

      - name: Start test server
        shell: bash
        run: bin/http_test_server > /dev/null 2>&1 &

      - name: Run tests
        run: ./vendor/bin/phpunit --testsuite ${{ matrix.batch.suite }}
